@import url('bootstrap');

body {
  font-family: 'Open Sans Variable', sans-serif;
}

.dc{
background-image: url();
}

.facebook,.youtube,.twitter,.pinterest,.position{
  border-radius: 50%;
  background-color: gray;
  margin: 2rem;
  width: 20px;
  height: 20px;
}
